body{
     display:flex;
    background-image: url(../photos/mirror.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: serif;
    justify-content:center;
    text-align: center;
    height: 90em;
}
.container {
    display: grid;              
    justify-content: center;   
    align-items: center;        
}
h1{
    display: block;
  color:blue;
}
    

.form{
     margin: 10em; 
    display: grid;
    border: wheat 4px ;
    justify-content: center;
    height: 40em;
    background-color:seashell;
     padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 13, 13, 0.1);
     max-width: 400; 
     width: 100%; 
    

}
#button{
    border-radius: 35px;
    box-shadow: rgb(83, 70, 49);
    
}
#button:hover{
    background-color: rgb(49, 49, 131);

}
.col-sm-5{
    border:blue solid 3px;
    
    
}
.col-sm-1{
    border: green solid 3px;
    

}
.dropdown-menu{
    color: brown;
}